#containerCart {
  height: auto;
  background-color: #ffffff;
  padding: 2vh 1vw;
  width: 53vw;
  margin: auto;
  margin-top: 6vh;
}
#containerCart > h2 {
  font-size: 2.7vh;
  font-weight: bold;
}
/* sub Container to retain all data */
#sub-container {
  margin-top: 3vh;
  height: 800px;
  width: 100%;

  display: flex;
  gap: 1.66vw;
}
/* left con */
#sub-left {
  width: 34vw;
}
#sub-right {
  flex-grow: 1;
}
/* Adding Bold to texts by below class */
.boldTxt {
  font-weight: bold;
}
/* Heading fontsize  */
.headinInDiv {
  font-size: 1.6vh;
}
/* Description in div */
.descriptionInDiv {
  font-size: 1.6vh;
}
.sub-left-first {
  width: 100%;
  height: auto;
  padding: 2vh 1.4vw;
  border: 1.5px solid #dedede;
  border-radius: 8px;
  margin-bottom: 2vh;
}

/* #sub-container > div {
  border: 1px solid red;
} */
/* Card offers */
.offers {
  margin-top: 0.6vh;
  width: 100%;
  height: 4.5vh;
  margin: 1vh 0;
  display: flex;
  gap: 0.4vw;
  align-items: center;
}
.offers > span > img {
  height: 4vh;
}
#seeDetailsBtn {
  border-radius: 10vh;
  color: white;
  background-color: #ffffff;
  color: black;
  border: 2px solid black;
  width: 7.31vw;
  font-weight: bold;
  height: 3.52vh;
  font-size: 1.6vh;
}
.thirdTxt {
  font-size: 1.37vh;
  color: 666666;
}
/* Second Div */
.sub-left-second {
  width: 100%;
  height: auto;
  background-color: #f6f6f8;
  /* background-color: black; */
  padding: 0 0.7vw;
  padding-bottom: 1.3vh;
}
.sub-left-second > h3 {
  height: 5vh;
  display: flex;
  align-items: center;

  font-size: 1.82vh;
  font-weight: bold;

  /* line-height: 2.82vh; */

  /* padding: 1.5vh; */
}
#cartItems,
#itemsSuggested {
  height: auto;
  width: 100%;
  padding: 2vh 1vw;
  background-color: white;
}

#returnsCartItems {
  /* border: 1px solid black; */
  display: flex;
  gap: 0.8vw;
}
/* #returnsCartItems > span {
  border: 1px solid red;
} */
#returnsCartItems > span > svg {
  height: 4vh;
}
#returnsCartItems > span > p {
  margin-bottom: 0.6vh;
}
#redeemDivs {
  margin-top: 1vh;
  display: flex;
  gap: 1vw;
}
#redeemDivs > div {
  width: 50%;
  border: 2px solid #f6f6f8;
}
#redeemDivs > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.9vh;
  line-height: 2.3vh;
  flex-direction: column;
  font-size: 1.6vh;
}
#redeemDivs strong {
  font-weight: bold;
}
#headerLine {
  width: 100%;
  border: 1px solid #f6f6f8;
  margin: 2vh 0;
}
/* SUB RIGHT SECTION */
#totalSection {
  width: 100%;
  height: auto;
  border: 1.5px solid #dedede;
  border-radius: 8px;
  padding: 1vw;
}
#totalSection > table > tbody > tr {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}
#totalSection .totalFlex {
  display: flex;
  justify-content: space-between;
  font-size: 1.6vh;
  line-height: 2vh;
  color: #000000;
}
#totalSection .totalFlex > p {
  margin: 0.7vh 0;
}
#totalSection .totalFlex > p:last-child {
  font-weight: bold;
}
#totalSection > .headerLine2 {
  width: 100%;
  margin: 0.5vh 0;
  border: 1px solid #f6f6f8;
}
#totalSection .last {
  font-weight: bold;
  font-size: 1.81vh;
  margin-bottom: 1vh;
}
#paywithPaypalBtn > span > img {
  width: 5vw;
}
#totalSection > button {
  height: 5vh;
  width: 100%;
  border-radius: 10vh;
}
#checkout {
  background-color: #cf112c;
  color: white;
  font-weight: bold;
  font-size: 1.6vh;
  border: 0;
  margin-bottom: 1vh;
}
#checkout:hover {
  background-color: #e20308;
}
#paywithPaypalBtn {
  color: white;
  background-color: #ffffff;
  color: black;
  border: 2px solid black;
  width: 7.31vw;
  font-weight: bold;
  height: 3.52vh;
  font-size: 1.6vh;
}
/* PROMOCODE */
#promoCodeSection {
  margin-top: 1.6vh;
  height: auto;
  border: 1.5px solid #dedede;
  border-radius: 8px;
  padding: 1.5vh;
}
#promoCode {
  width: 100%;
  height: 4.5vh;
  text-indent: 1vw;
  font-size: 1.6vh;
  border: 1.5px solid #dedede;
}
#promoCode:focus {
  outline: none;
}
#submitCode {
  width: 100%;
  height: 5vh;
  border-radius: 10vh;
  background-color: #11cf67;
  color: white;
  font-weight: bold;
  font-size: 1.6vh;
  border: 0;
  margin-top: 1vh;
}
/* DOM  */
#tbody > tr {
  margin: 1vh 0;
}
#tbody > tr > td {
  border: 1px solid black;
}

/* #tbody > tr > td:first-child {

} */
#tbody > tr > td > img {
  border: 1px solid black;
  width: 5.02vw;
}

#tbody > tr > td:nth-child(2) {
  background-color: wheat;
  width: 100vw;
  height: 0vh;
}
#tbody > tr > td {
  height: 1vh;
}
