* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
#mainbody {
  width: 100%;
  margin-top: 10vh;
}
#container {
  margin: auto;

  width: 80%;

  display: flex;
  justify-content: center;
}
#sidebar {
  padding: 0.4rem;
}
#sidebar div h2 {
  margin-bottom: 1.5vh;
}
#sidebar h6 {
  margin-top: 1vh;
  color: #666666;
  font-weight: 100;
}
#sidebar h5 {
}
#sidebar div p {
  padding-right: 4vw;
  font-size: 1.61vh;
  line-height: 3vh;
}
#sidebar div p:hover {
  text-decoration: underline;
}
#main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border-left: 2px solid grey; */
  width: 100%;

  gap: 4vh;
  padding-left: 5vh;
  box-sizing: border-box;
}
#main > div {
  /* position: relative; */
  text-align: center;
  font-size: 1.8264vh;
  box-sizing: border-box;
  text-align: left;
  /* margin-top: 1vh; */
}
#main > div > img {
  margin-bottom: 1.5vh;
}
#main > div > p,
#main > div > h5 {
  margin-bottom: 1vh;
}

#navvv p {
  font-size: 1.6vh;
  margin-left: 14vw;
  padding: 2vh 0;
}
/* #main div img{
    width: 100%;
    height: 30vh;
} */
#newtitle {
  text-align: center;
  padding: 1rem;
  font-size: 4.87064vh;
}
#products {
  width: 70%;
}
#quicklookdiv {
  margin: auto;
  padding: 1vh;
  color: white;
}
#quicklook {
  border-radius: 0.5vh;
  /* padding: 1vh; */
  background-color: black;
  opacity: 0.7;
  width: 20vh;
  position: absolute;
  z-index: 1;
  margin-top: -17vh;
  margin-left: 1.5vw;
  font-size: 3.4358vw;
}
#quicklook:hover {
  opacity: 0.4;
}
#newdiv1 {
  background-color: white;
  color: white;
  width: 19%;
}
#span1 {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
  padding-bottom: 1vh;
}
#lovediv {
  width: 1.5vw;
  height: 1.5vh;

  /* border: 1px solid blue; */
  top: 0.5vh;
  right: 1vh;
}
#lovediv svg {
  height: 3vh;
  fill: white;
  stroke: black;
  width: 2vw;
}
#new_heart {
  padding: 0.3vh;
  display: flex;
  justify-content: space-between;
}
#pageGrids {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 5vh);
  gap: 1vh;
  padding: 1vh;
}
#pageGrids > div {
  background-color: white;
  padding: 0.3vh;
  margin-left: 0.9vh;
  font-size: 1.6vh;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
}
#sidebar > div:last-child {
  width: 80%;
}
#newInner {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#newInner img {
  width: 4.2617vh;
  height: 4.2617vh;
}

#filtersdiv {
  display: flex;
  margin: 1vh 0;
  justify-content: space-between;

  align-items: center;
}
#filtersdiv > svg {
  stroke: black;
  fill: black;
  padding: 1vh;

  /* padding: 0.5vw; */
}
#sortdiv {
  float: right;
  display: flex;
  gap: 3.04414vh;
  font-size: 2.4353vh;
}
#sort_l2h {
  background-color: whitesmoke;
  padding: 0.9vh;
  border-radius: 0.5vw;
}
#sort_h2l {
  background-color: whitesmoke;
  padding: 0.9vh;
  border-radius: 0.5vw;
}
#topRated {
  background-color: whitesmoke;
  padding: 0.9vh;
  border-radius: 0.5vw;
}
