html {
  font-size: 16px;
}
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  background-color: #ffffff;
}
ol,
ul {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
#nav h1,
#nav h2,
#nav h3,
#nav h4,
#nav h5,
#nav h6,
#nav p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* Firts part of div */
#navFirst {
  height: 7.2vh;
  width: 100%;
  background-color: rgb(224, 5, 133);
  font-size: 1.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navText {
  width: 34%;
  text-align: center;
  /* height: 4vh; */
  line-height: 1.81vh;
  box-sizing: border-box;
}
#navFirst strong {
  font-weight: bold;
}
#navImg-con {
  height: 100%;
}
#navImg-con > img {
  height: 100%;
}
/* Second Part of div */

#navSecond {
  height: 11.5vh;
  width: 100%;
}
#logo {
  width: 8.34vw;
  height: 5.86vh;
  display: flex;
}

#logo > a > img {
  height: 1.95vh;
  width: 6.66vw;
}

/* ALl the elements of 2nd nav */
#navSecondElements {
  width: 70vw;
  height: 100%;

  margin: auto;
  display: flex;
  align-items: center;

  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Search bar */
#navSearch {
  width: 26.4vw;
  height: 4.4vh;
  display: grid;
  place-items: center;
}
/* input in searchbar */
#search {
  width: 23.02vw;
  height: 4.15vh;

  border: 0;
  background-color: #f6f6f8;
  text-indent: 1.5rem;
  position: relative;
  font-size: 1.6vh;
}
#debounceDiv {
  width: 26.4vw;

  /* width: 100%; */
  z-index: 5;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: scroll;
  top: 15.3vh;
  left: 25vw;
  position: absolute;
  max-height: 50vh;
  box-sizing: border-box;
}
/* Debounnce Results */
#resultDebounce {
  margin: 1vh;
  border-radius: 0.5vh;
  height: 5vh;
  z-index: 5;
  display: flex;
  gap: 0.5vw;
  background-color: #ffffff;
  /* background-color: white; */
}
#resultDebounce:hover {
  background-color: rgb(240, 240, 240);
}
#divInner {
  width: 22vw;

  /* flex-grow: 1; */
  font-size: 1.6vh;
  display: flex;
  align-items: center;
  /* padding: 1vh; */
}
#imgCon {
  width: 2.5vw;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgCon > img {
  width: 70%;
  height: 70%;
}
#search:focus {
  outline: 1px solid black;
}

#navOptions {
  width: auto;
  height: auto;
}

/* Perent div, contain all the icons and options */
#navOptions > div {
  width: auto;

  height: 100%;
  display: flex;
}

/* First 3 buttons store to sign in */
#buttons > div {
  display: flex;
  margin-right: 1vw;
  gap: 2rem;
}

/* Icons inside that options */
.icon {
  margin-right: 1vw;
  height: 3.2vh;
}

.inText + p {
  font-size: 1.2vh;
  line-height: 1.5vh;
  color: #666666;
}

#buttons > div > a {
  text-decoration: none;

  width: auto;
}
#buttons > div > a {
  border: 1px solid black;
  width: auto;
  padding: 2vh 0;
}
#buttons > div > a:last-child {
  padding-left: 0.5vw;
}
/* P element  */
.inText {
  font-size: 1.6vh;
  line-height: 1.93vh;
  color: #000000;
  width: auto;
}
/* Second opt :Sign in wishlisht cart */
#icon2 {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  /* justify-content: space-around; */
}
#icon2 > a > span {
  font-size: 3.2vh;
  color: #9f9f9f;
  margin-right: 1.2vw;
  /* border: 1px solid black; */
}
.iconUser {
  width: 3.3vh;
  color: #9f9f9f;
}
.hoverMe {
  opacity: 0;
  width: auto;
  margin-left: 2.3vw;
  bottom: 0;
  border: 1.5px solid black;
  background-color: #000000;
}
#buttons > div > a:hover .hoverMe {
  opacity: 1;
  transition: 200ms;
}
/* Third element */
#navThird {
  height: 5.4vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#navThirdList {
  display: flex;
  width: auto;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  /* padding: 1rem; */
  text-decoration: none;
  /* gap: 0.5rem; */
}
#navThirdList > li {
  width: auto;
  font-size: 1.7vh;
  line-height: 1.8vh;
  /* height: 100%; */
  padding: 1.81vh;

  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-between;

  /* align-items: center; */
  /* padding: 0 1.3rem; */
}
/* Up Arrow icon on hover */
.liIcon {
  display: none;
  transform: translateY(0);
  color: white;
}
/* Hover effects  */
.nav-item:hover .liIcon {
  display: block;
  margin: auto;
  transform: translateY(0);

  position: relative;
  font-size: 1.4em;
  /* top: 3.9vh; */
  bottom: -0.5vh;
  display: grid;
  place-items: center;
  /* padding: auto; */
  transition: 300ms;
}
#navThirdList > li > a {
  text-decoration: none;
  color: white;
}
.cat1 {
  font-weight: bold;
}
/* sub items after hover on any li elements */
.nav-item .sub-items {
  pointer-events: none;
  transform: translateY(0);
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 5.4vh;
  opacity: 0;
  visibility: hidden;
}
/* After Hover on element */
.nav-item:hover .sub-items {
  pointer-events: all;
  transform: translateY(0);
  transition: 200ms;
  opacity: 1;
  visibility: visible;
}

/* Sub list of sub items from hover of any perent li */
.nav-item .sub-items .sub-list {
  padding: 1rem;
  display: flex;
  gap: 2rem;

  justify-content: space-between;
}
/* .sub-items > div {
  border: 1px solid black;
} */
/* .sub-list:first-child {
  margin-left: 9.2rem;
} */
.sub-list li {
  margin-bottom: 0.8rem;
}
.sub-list a {
  text-decoration: none;
  color: black;
  line-height: 1.1rem;
  font-size: 0.9rem;
}
.sub-list a strong {
  font-weight: bold;
}
.nav-item:hover .sub-list a:hover {
  text-decoration: underline;
}
.sub-img {
  display: flex;
  gap: 1.66vw;
  max-height: 34.9vh;
}

.sub-img > img {
  width: 100%;
}

/* .sub-items {
  color: black;
  position: absolute;
  background-color: red;
  margin-top: 1rem;
} */

.iconHover:hover .color {
  color: #000000;
  fill: black;
}
/* NavCSS ENDS HERE */
#signIn {
  position: relative;
}
#popupSignIn {
  width: auto;
  opacity: 0;
  box-sizing: border-box;
  border-radius: 10px;
  visibility: hidden;
  position: absolute;
  z-index: 0;
  transform: translateY(3vh);
  background-color: white;
  top: 6vh;
  left: -2vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#signIn:hover #popupSignIn {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: 300ms;
  z-index: 5;
}
svg {
  color: #000000;
  height: 3vh;
}
