.displayAlphabet {
  font-size: 16px;
  font-weight: 700;
  flex-wrap: wrap;
  display: flex;
}
.displayAlphabetLink {
  text-decoration: none;
  color: black;
  margin: 0.4%;
  padding: 1%;
}

.divider {
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.0625);
  margin-top: 1%;
  margin-bottom: 1%;
}
.alphabet {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0.125em;
  margin-bottom: 8px;
  text-align: center;
  padding-top: 22%;
}
ul {
  list-style: none;
}
.brandList {
  cursor: pointer;
  display: block;
  padding-left: 0.5em;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #070707;
  text-decoration: none;
}
.brandList:hover,
.displayAlphabetLink:hover {
  text-decoration: underline;
}
.isNew {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-radius: 4px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.3;
  margin-left: 0.5em;
  display: inline-block;
  font-weight: var(--font-weight-bold);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-left: 0.6em;
  padding-right: 0.6em;
  position: relative;
  top: -0.125em;
}

.gridBrands {
  display: grid;
  grid-template-columns: 12% auto;
  gap: 10px;
}

.gridList {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
