body {font-family: "helvetica neue", sans-serif;}

/* Full-width input fields */
input[type="email"], input[type="password"] {
  width: 100%;
  padding: 2.46vh 1.17vw;
  margin: 1.31vh 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.check{
    width: 1.56vw;
    height: 3.28vh;
    margin-top: -0.32vh;
}
#chkflex{
    display: flex;
    gap: 0.39vw;
}
#clsRight{
    display: flex;
    justify-content: space-between;
}
.formHead{
  font-weight: bold;
}
/* Set a style for all buttons */
button {
  background-color:black;
  color: white;
  padding: 2.29vh 1.56vw;
  margin-top: 3.28vh;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}

#formRight{
    display: flex;
    justify-content: space-between;
    /* padding-top: 10px; */
}
#formRight a{
    text-decoration: none;
    color: rgb(19, 107, 234);
}
/* Extra styles for the cancel button */
.container{
    padding: 2.62vh 1.25vw;
}


/* The Modal (background) */
.modal {
  display: none;
  position: absolute;
  z-index: 1; 
  width: 80%;
  height: 100vh;
  left: 30%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid white;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  width: 50%;

}

/* The Close Button (x) */
.close {
  /* padding-bottom: 20px; */
  color: black;
  cursor: pointer;
}



/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

#hr1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.063);
    border-top-color: rgba(0, 0, 0, 0.063);
    border-right-color: rgba(0, 0, 0, 0.063);
    border-left-color: rgba(0, 0, 0, 0.063);
    margin: 3.94vh -1.25vw;
}
#ac-btn{
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
}
.formBottom{
    margin-top: 4.92vh;
    width: 40%;
    margin: auto;
    padding-top: 4.92vh;
}
.formBottom > a{
    color: rgb(19, 107, 234);
    font-size: 1.97vh;
}
#togglePassword{
    margin: -4.92vh -2.34vw;
}
#nwSph{
    font-weight: bold;
}