html {
  font-size: 16px;
}
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  background-color: #ffffff;
}

/* Firts part of div */
#navFirst {
  height: 7.2vh;
  width: 100%;

  background-color: rgb(224, 5, 133);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navText {
  width: 34%;
  text-align: center;
  /* height: 4vh; */
  line-height: 1rem;
  box-sizing: border-box;
}
#navFirst strong {
  font-weight: bold;
}
#navImg-con {
  height: 100%;
}
#navImg-con > img {
  height: 100%;
}
/* Second Part of div */

#navSecond {
  height: 11.5vh;
  width: 100%;
}
#logo {
  width: 8.34vw;
  height: 5.86vh;
  display: flex;
}

#logo > a > img {
  height: 1.95vh;
  width: 6.66vw;
}
#navSecondElements {
  width: 65.625vw;
  height: 100%;

  margin: auto;
  display: flex;
  align-items: center;

  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navSearch {
  /* border: 1px solid black; */
  width: 26.4vw;
  height: 4.4vh;
}
#search {
  width: 23.02vw;
  height: 4.15vh;
  border-radius: 1000px;
  border: 0;
  background-color: #f6f6f8;
  text-indent: 1.5rem;
}
#search:focus {
  outline: 1px solid black;
}

#navOptions {
  /* border: 1px solid black; */
  width: 600px;
  height: auto;
}
#navOptions > div {
  width: auto;
  height: 100%;
  display: flex;
  /* border: 1px solid red; */
}

#buttons > div {
  display: flex;
  /* gap: 1rem; */
}
.icon {
  margin-right: 1rem;
  height: 1.8rem;
}
.inText + p {
  font-size: 0.688rem;
  line-height: 0.813rem;
  color: #666666;
}

#buttons > div > a {
  text-decoration: none;
}
#buttons > div > a {
  margin-right: 1rem;
}
#buttons > div > a:last-child {
  margin-left: 1.2rem;
}
.inText {
  font-size: 0.875rem;
  line-height: 1.13rem;
  color: #000000;
}
#icon2 {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  /* justify-content: space-around; */
}
#icon2 > a > span {
  /* border: 1px solid black; */
  font-size: 1.7rem;
  color: #9f9f9f;
  margin-right: 1.2rem;
}
/* Third element */
#navThird {
  height: 5.4vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navThirdList {
  display: flex;
  height: 100%;
  /* gap: 0.5rem; */
}
#navThirdList > li {
  width: auto;
  font-size: 0.875rem;
  /* line-height: 1rem; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  padding: 0 1.3rem;
}
.liIcon {
  display: none;
  transform: translateY(0);
  color: white;
  font-size: 1.4rem;
  margin-bottom: -0.8rem;
}
.nav-item:hover .liIcon {
  display: block;
  transform: translateY(0);
  transition: 300ms;
}
#navThirdList > li > a {
  text-decoration: none;
  color: white;

  margin-top: 1rem;
}
.cat1 {
  font-weight: bold;
}

.nav-item .sub-items {
  pointer-events: none;
  transform: translateY(2.2rem);
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  /* gap: 5rem; */
  width: 100%;
  left: 0;
  top: 11rem;
  opacity: 0;
  /* width: 80%; */
  /* padding-left: 22rem; */
  padding-left: 10rem;
  padding-right: 8rem;
  visibility: hidden;
}

.nav-item:hover .sub-items {
  pointer-events: all;
  transform: translateY(2.2rem);
  transition: 1s;
  opacity: 1;
  visibility: visible;
}

.nav-item .sub-items .sub-list {
  padding: 1rem;
  display: flex;
  gap: 2rem;

  justify-content: space-between;
}
/* .sub-items > div {
  border: 1px solid black;
} */
/* .sub-list:first-child {
  margin-left: 9.2rem;
} */
.sub-list li {
  margin-bottom: 0.8rem;
}
.sub-list a {
  text-decoration: none;
  color: black;
  line-height: 1.1rem;
  font-size: 0.9rem;
}
.sub-list a strong {
  font-weight: bold;
}
.nav-item:hover .sub-list a:hover {
  text-decoration: underline;
}
.sub-img {
  display: flex;
  gap: 2rem;
  max-height: 34.9vh;
}

.sub-img > img {
  width: 100%;
}

/* .sub-items {
  color: black;
  position: absolute;
  background-color: red;
  margin-top: 1rem;
} */
